<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Chat Test">
    <classes>
      <class name="BasicTestNGAnnotations.PersonalChat"/>
     
      <class name="BasicTestNGAnnotations.GroupChat"/>
    </classes>
  </test> <!-- Test -->
  
  
   <test name=" Status Test">
    <classes>
     
      <class name="BasicTestNGAnnotations.VideoStatus"/>
      <class name="BasicTestNGAnnotations.ImageStatus"/>
     
    </classes>
  </test> <!-- Test -->
  <test name="pre suite">
    <classes>
      <class name="BasicTestNGAnnotations.BaseClass"/>
     
      
    </classes>
  </test> <!-- Test -->
  
  
  
</suite> <!-- Suite -->
